*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background-color: #ededed;
  font-family: "Roboto", sans-serif;
}

.navbar-container {
  margin-bottom: 100px;
}
.upper-nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
}

.upper-nav-wrapper {
  width: 1020px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.upper-nav-right {
  display: flex;
  gap: 20px;
  max-width: 70%;
  align-items: center;
}
.upper-nav-item {
  display: flex;
}
.upper-nav-item h1 {
  font-size: 1em;
  color: black;
  font-weight: 500;
}
.upper-nav-item h1 span {
  font-size: 1em;
  color: #353535;
  font-weight: 400;
}

.upper-nav-item img {
  margin-left: 10px;
}

.middle-nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 70px;
  background-color: #353535;
}

.middle-nav-wrapper {
  width: 1020px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.middle-nav-wrapper input {
  width: 400px;
  height: 45px;
  border-radius: 25px;
  max-width: 80%;
  border: none;
  padding: 20px;
  font-size: 1.2em;
}

/*end of nav*/
.products-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.products-wrapper {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.test {
  display: flex;
  width: 31.2%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  min-width: 310px;
  height: 275px;
}
.shop-item {
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shop-item h1 {
  font-size: 1.2rem;
  line-height: 30px;
  color: #494949;
  font-weight: 400;
}
.shop-item h2 {
  font-size: 1rem;
  color: #656565;
  font-weight: 400;
}
.shop-item img {
  width: 100%;
  height: auto;
}
.shop-image {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.item-detail-container {
  width: 100%;
  padding: 20px;
  height: 500px;
}

.item-detail-wrapper {
  width: 1200px;
  max-width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
}

.item-detail-wrapper > div {
  width: 50%;
  padding: 20px;
}

.item-detail-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-detail-wrapper div img {
  width: 100%;
  margin: 1px;
}

.item-detail-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.item-detail-text-container h1 {
  font-size: 3rem;
}

.item-detail-text-container h2 {
  font-size: 1.2rem;
  font-weight: 300;
}

.item-detail-quantity {
  display: flex;
}
.item-detail-quantity select {
  width: 30px;
  margin-left: 10px;
}

.item-detail-lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  padding-top: 20px;
}
.item-detail-lower h1 {
  font-size: 1.4rem;
}
.item-detail-lower button {
  border-radius: 50px;
  border: none;
  background-color: #0896c2;
  width: 130px;
  height: 40px;
  color: white;
  font-size: 1.1rem;
}

@media only screen and (max-width: 645px) {
  .item-detail-wrapper {
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin-top: -50px;
  }
  .item-detail-wrapper > div {
    width: 100%;
    padding: 20px;
  }
  .item-detail-lower {
    margin-right: 0px;
  }
}
